<div class="container p-3">
  <h1>All lists</h1>
  <ul class="d-flex">
    <% @lists.each do |list| %>

    <div class="card m-3" style="width: 18rem;">
      <%= cl_image_tag list.photo.key.to_s, crop: :fill, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <%= link_to "See list", list_path(list), class: "btn btn-primary" %>
        <%= link_to "Delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger text-light"
%>
      </div>
    </div>

    <% end %>
  </ul>
  <%= link_to "Create a list", new_list_path, class: "btn btn-primary" %>
</div>
